{% extends 'catalog/base.html' %}
{% block content %}
{% load tegs %}

<div class="row text-center">

    <div class="col-12">
        <div class="card mb-12 box-shadow">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">категория: {{ object.category }}</h5>
                <h2 class="my-1 font-weight-bold">{{object.title}}</h2>
            </div>
            <div class="card-body">

                <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
                <div class="row">
                    <div class="col-8"><img width="100%" src="{% mediapath object.picture %}"/></div>
                    <div class="col-4">
                        <div>
                            {{ object.description }}
                        </div>
                        <div>
                            <div class="card-footer">
                                {% for version in version_list %}

                                <div>{{ version.nomer }} - {{ version.version_title }}
                                </div>
                                {% endfor %}
                                {% if object.seller == user %}
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
                                        href="{% url 'version_create' product.slug %}">Добавить версию</a></button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                {% for group in request.user.groups.all %}
                {% if group.name == 'Buyer' %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                {% endif %}
                {% endfor %}
                {% if object.seller == user %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
                        href="{% url 'product_update' product.slug %}">Обновить информацию</a></button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
                        href="{% url 'product_delete' product.slug %}">Удалить продукт</a></button>
                {% endif %}
                {% for group in request.user.groups.all %}
                {% if group.name == 'Moderator' %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a
                        href="{% url 'product_update_moderator' product.slug %}">Модерировать</a></button>

                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}